<!doctype html>
<html class="no-js">

	<head>
		<meta charset="utf-8"/>
		<title>大数据信息处理研究组</title>
		
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link rel="stylesheet" media="all" href="css/style.css"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		
		
		
		<!-- JS -->
		<script src="js/jquery-1.6.4.min.js"></script>
		<script src="js/css3-mediaqueries.js"></script>
		<script src="js/custom.js"></script>
		<script src="js/tabs.js"></script>
		
		<!-- Tweet -->
		<link rel="stylesheet" href="css/jquery.tweet.css" media="all"  /> 
		<script src="js/tweet/jquery.tweet.js" ></script> 
		<!-- ENDS Tweet -->
		
		<!-- superfish -->
		<link rel="stylesheet" media="screen" href="css/superfish.css" /> 
		<script  src="js/superfish-1.4.8/js/hoverIntent.js"></script>
		<script  src="js/superfish-1.4.8/js/superfish.js"></script>
		<script  src="js/superfish-1.4.8/js/supersubs.js"></script>
		<!-- ENDS superfish -->
		
		<!-- prettyPhoto -->
		<script  src="js/prettyPhoto/js/jquery.prettyPhoto.js"></script>
		<link rel="stylesheet" href="js/prettyPhoto/css/prettyPhoto.css"  media="screen" />
		<!-- ENDS prettyPhoto -->
		
		<!-- poshytip -->
		<link rel="stylesheet" href="js/poshytip-1.1/src/tip-twitter/tip-twitter.css"  />
		<link rel="stylesheet" href="js/poshytip-1.1/src/tip-yellowsimple/tip-yellowsimple.css"  />
		<script  src="js/poshytip-1.1/src/jquery.poshytip.min.js"></script>
		<!-- ENDS poshytip -->
		
		<!-- GOOGLE FONTS -->
		
		
		<!-- Flex Slider -->
		<link rel="stylesheet" href="css/flexslider.css" >
		<script src="js/jquery.flexslider-min.js"></script>
		<!-- ENDS Flex Slider -->
		
		<!-- Masonry -->
		<script src="js/masonry.min.js" ></script>
		<script src="js/imagesloaded.js" ></script>
		<!-- ENDS Masonry -->
		
		<!-- Less framework -->
		<link rel="stylesheet" media="all" href="css/lessframework.css"/>
		
		<!-- modernizr -->
		<script src="js/modernizr.js"></script>
		
		<!-- SKIN -->
		<link rel="stylesheet" media="all" href="css/skin.css"/>
		

	</head>
	
	<body lang="en">
	
		
		
		
<header>
			<div class="wrapper clearfix">
				<div>
					<a href="index.html" class="logo">
						<img  src="img/logo1.gif" alt="logo">
					</a>
					<p class="logo" style="font-size: 26px; margin: 25px 0px 0px 20px;">
						<strong>大数据信息处理研究组</strong>
					</p>
					<a href="#" class="version">English  Version</a>	
				</div>
				<nav>
					<ul id="nav" class="sf-menu">
						<li><a href="index.html">首页</a></li>
						<li><a href="news.html">新闻动态</a>
						</li>
						<li><a href="team.html">科研队伍</a></li>
						<li><a href="research.html">科学研究</a>
						</li>
						<li class="current-menu-item"><a href="academic.html">学术交流</a>
						</li>
						<li><a href="relax.html">活动休闲</a></li>
						<li><a href="join.html">加入我们</a>
						</li>
						<li><a href="about.html">关于</a></li>
					</ul>
					<div id="combo-holder"></div>
				</nav>						
				
				<div class="clearfix"></div>
								
			</div>
		</header>
		
		
		
		<!-- MAIN -->
		<div id="main">	
			<div class="wrapper clearfix">
				
        		<!-- home-block -->
	        	<div class="home-block no-border clearfix" >
	        		<!-- <h1 class="home-headline">FEATURED WORK </h1> -->

	        		<!-- slider holder -->
					<div id="slider-holder" class="clearfix tab-content">
						<!-- Headline -->
						
		        		<div id="headline2">
		        			<h3>学术交流</h3><br>
		        			<ul style="list-style-type: square; color: #FD8152;">
		        				<li>
		        					<a href="academic-detail.html">时间：标题1</a>
		        				</li>
		        				<li>
		        					<a href="academic-detail.html">2015-7-8：欢迎XX大学XX教授来软件所做学术报告</a>
		        				</li>
		        				<li>
		        					<a href="academic-detail.html">根据数据库中的时间和标题分条显示，点击后进入详细页面academy-detail.html</a>
		        				</li>
		        			</ul>
		        			
		        	    </div>
		        		<!-- ENDS headline	 -->

			       	
			        	<div class="home-slider-clearfix "></div>
			        
					</div>
					<div id="slider-holder" class="clearfix tab-content">
						<!-- Headline -->
		        		<div id="headline2">
		        			<h3>国际会议</h3><br>
		        			<ul style="list-style-type: square; color: #FD8152;">
		        				<li>
		        					<a href="#">近期的会议名称</a>
		        					<p style="color: #888">具体的时间要求等信息</p>
		        				</li>
		        				<li>
		        					<a href="#">AAAI2016</a>
		        					<p style="color: #888">Abstract due: 2015-9-10   Papers due:2015-9-15</p>
		        				</li>
		        				<li>
		        					<a href="#">近期的会议名称(链接到会议主页）</a>
		        					<p style="color: #888">具体的时间要求等信息</p>
		        				</li>
		        			</ul>
		        	    </div>
		        		<!-- ENDS headline	 -->

			       	
			        	<div class="home-slider-clearfix "></div>
			        
					</div>
					<!-- ENDS slider holder -->
	        		
	        	</div>
	        	<ul class="nav-pills" id="tab-groups">
	        		<li role="presentation" class=""><a href="#"  class="current">学术交流</a></li>
	        		<li role="presentation" class=""><a href="#">国际会议</a></li>

	        	</ul>
	        	<!-- ENDS home-block
	        
	        	
	        	<!-- additional blocks -->
	        	
        		<!-- ENDS additional blocks -->

			<!-- Fold image -->
			<div id="fold"></div>
			</div>
			
		</div>
		<!-- ENDS MAIN -->
		
		
		
		<footer>	
			
			<div class="wrapper clearfix">
				
				<!-- widgets -->
				<ul  class="widget-cols clearfix">
					<li class="first-col">
						
						<div class="widget-block">
							<h4>友情链接</h4>
							<div class="recent-post clearfix">
								<a href="http://www.cas.cn/" class="thumb"><img src="img/logo2.jpg" alt="Link" /></a>
								<div class="post-head">
									<a href="http://www.cas.cn/">中国科学院</a>
										<!-- <span> March 12, 2011</span> -->
								</div>
							</div>
							<div class="recent-post clearfix">
								<a href="http://www.iscas.ac.cn/" class="thumb"><img src="img/logo3.gif" alt="Link" /></a>
								<div class="post-head">
									<a href="http://www.iscas.ac.cn/">中国科学院软件研究所</a>
									<!-- <span> March 12, 2011</span> -->
								</div>
							</div>
							<div class="recent-post clearfix">
								<a href="http://pminer.iscas.ac.cn/bbs/forum.php" class="thumb"><img src="img/dummies/54x54.gif" alt="Link" /></a>
								<div class="post-head">
									<a href="http://pminer.iscas.ac.cn/bbs/forum.php">pminer论坛</a>
								</div>
							</div>
						</div>
					</li>
					
					<li class="second-col">
						
						<div class="widget-block">
							<h4>联系方式</h4>
							<ul class="address-block">
			        			<li class="address">北京市海淀区中关村南路4号</li>
			        			<li>    邮编10010</li>
			        			<li class="phone">+123 456 789</li>
			        			<li class="mobile">+123 456 789</li>
			        			<li class="email"><a href="mailto:email@server.com">email@server.com</a></li>
		        			</ul>
						</div>
						
					</li>
					
					<li class="third-col">
						
						<div class="widget-block">
							<div class="footer-col">
		         				<a href="#"><img src="img/mono-icons/weibo.png" alt="Link" /></a>
		         				<a href="#"><img src="img/mono-icons/weixin.png" alt="Link" /></a>
		         			</div>
		         		</div>
		         		
					</li>
					
				</ul>
				<!-- ENDS widgets -->	
				
				
				<!-- bottom -->
				<div class="footer-bottom">
					<div class="left">中国科学院软件研究所大数据信息处理研究组 <a href="index.html" target="_blank" title="实验室主页">实验室主页</a><br>
						访问量：9999&nbsp&nbsp <a href="#" target="_blank" title="后台管理">后台管理</a>
					</div>

					
				</div>	
				<!-- ENDS bottom -->		

			</div>
		</footer>
		
			
	</body>
	
</html>