<!doctype html>
<html class="no-js" lang="en">
<head>
    {#    <meta charset="utf-8"/>#}
    <meta http-equiv="Content-Type" content="text/xml; charset=utf-8"/>
    <title>Big Data Intelligence Group</title>

    <!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
    {% load staticfiles %}
    <link rel="stylesheet" media="all" href="{% static 'css/style.css' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- Adding "maximum-scale=1" fixes the Mobile Safari auto-zoom bug: http://filamentgroup.com/examples/iosScaleBug/ -->


    <!-- JS -->
    <script src="{% static 'js/jquery-1.6.4.min.js' %}"></script>
    <script src="{% static 'js/css3-mediaqueries.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <script src="{% static 'js/tabs.js' %}"></script>

    <!-- Tweet -->
    <link rel="stylesheet" href="{% static 'css/jquery.tweet.css' %}" media="all"/>
    <script src="{% static 'js/tweet/jquery.tweet.js' %}"></script>
    <!-- ENDS Tweet -->

    <!-- superfish -->
    <link rel="stylesheet" media="screen" href="{% static 'css/superfish.css' %}"/>
    <script src="{% static 'js/superfish-1.4.8/js/hoverIntent.js' %}"></script>
    <script src="{% static 'js/superfish-1.4.8/js/superfish.js' %}"></script>
    <script src="{% static 'js/superfish-1.4.8/js/supersubs.js' %}"></script>
    <!-- ENDS superfish -->

    <!-- prettyPhoto -->
    <script src="{% static 'js/prettyPhoto/js/jquery.prettyPhoto.js' %}"></script>
    <link rel="stylesheet" href="{% static 'js/prettyPhoto/css/prettyPhoto.css' %}" media="screen"/>
    <!-- ENDS prettyPhoto -->

    <!-- poshytip -->
    <link rel="stylesheet" href="{% static 'js/poshytip-1.1/src/tip-twitter/tip-twitter.css' %}"/>
    <link rel="stylesheet" href="{% static 'js/poshytip-1.1/src/tip-yellowsimple/tip-yellowsimple.css' %}"/>
    <script src="{% static 'js/poshytip-1.1/src/jquery.poshytip.min.js' %}"></script>
    <!-- ENDS poshytip -->

    <!-- GOOGLE FONTS -->


    <!-- Flex Slider -->
    <link rel="stylesheet" href="{% static 'css/flexslider.css' %}">
    <script src="{% static 'js/jquery.flexslider-min.js' %}"></script>
    <!-- ENDS Flex Slider -->

    <!-- Masonry -->
    <script src="{% static 'js/masonry.min.js' %}"></script>
    <script src="{% static 'js/imagesloaded.js' %}"></script>
    <!-- ENDS Masonry -->

    <!-- Less framework -->
    <link rel="stylesheet" media="all" href="{% static 'css/lessframework.css' %}"/>

    <!-- modernizr -->
    <script src="{% static 'js/modernizr.js' %}"></script>

    <!-- SKIN -->
    <link rel="stylesheet" media="all" href="{% static 'css/skin.css' %}"/>


</head>

<!-- <body lang="en"> -->
<body>
<header>
    <div class="wrapper clearfix">
        <div>
            <a href="{% url 'index_e' %}" class="logo">
                {% load staticfiles %}
                <img src="{% static "img/logo1.gif" %}" alt="logo"/>
            </a>

            <p class="logo" style="font-size: 26px; margin: 25px 0px 0px 20px;">
                <strong>Big Data Intelligence Group</strong>
            </p>
            <form action="{% url 'changeHomepage' %}" method="post" class="form_style">
                {% csrf_token %}
                <input name="next" type="hidden" value="{{ redirect_to }}"/>
                <select name="language">
                    {% for language in LANGUAGES %}
                        <option value="{{ language.0 }}"{% if language.0 == LANGUAGE_CODE %} selected="selected"{% endif %}>
                        {{ language.1 }} ({{ language.0 }})
                    {% endfor %}
                </select>
                <input type="submit" value="Go"/>
            </form>
        </div>
        <nav>
            <ul id="nav" class="sf-menu">
                <li class="current-menu-item"><a href="{% url 'index_e' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About BDI</a></li>
                <li><a href="{% url 'research' %}">Research Topics</a></li>
                <li><a href="{% url 'team' %}">Members</a></li>
                <li><a href="{% url 'publication' %}">Publications</a></li>
                <li><a href="{% url 'academic' %}">Events</a></li>
                <li><a href="{% url 'news' %}">News</a></li>
                <li><a href="{% url 'relax' 1 %}">Entertainments</a></li>
                <li><a href="{% url 'join' %}">Join Us</a></li>
            </ul>
            <div id="combo-holder"></div>
        </nav>

        <div class="clearfix"></div>


    </div>
</header>

<!-- MAIN -->
<div id="main">
    <div class="wrapper clearfix">


        <!-- home-block -->
        <div class="home-block clearfix">
            <!-- <h1 class="home-headline">FEATURED WORK </h1> -->

            <!-- slider holder -->
            <div id="slider-holder" class="clearfix">
                <!-- Headline -->
                <div id="headline">
                    <h3>Information</h3>
                    {% if lab_intro %}
                        <pre class="headline-text">{{ lab_intro |truncatechars:300 }}</pre>
                        <a href="{% url 'about' %}" class="theme-link-button">more info>>></a>
                    {% endif %}
                </div>
                <!-- ENDS headline	 -->

                <!-- slider -->
                <div class="flexslider home-slider">
                    <ul class="slides">
                        <li>
                            {% load staticfiles %}
                            <img src="{% static "img/slides/1.jpg" %}" alt="slide1"/>

                            <!-- <p class="flex-caption">ggfhfbf</p> -->
                        </li>
                        <li>
                            <img src="{% static "img/slides/2.jpg" %}" alt="slide2"/>

                            <!-- <p class="flex-caption">gfgfbfv</p> -->
                        </li>
                        <li>
                            <img src="{% static "img/slides/3.jpg" %}" alt="slide3"/>

                            <!-- <p class="flex-caption">fgfg</p> -->
                        </li>
                    </ul>
                </div>
                <!-- ENDS slider -->

                <div class="home-slider-clearfix "></div>

            </div>
            <!-- ENDS slider holder -->

        </div>
        <!-- ENDS home-block -->


        <!-- blocks -->
        <div class="home-add clearfix">
            <h3 style="margin:0px 0px 36px 20px; color:#FD7343">Large-Scale Machine Learning</h3>
            <!-- left -->
            <div class="left-home-block home-posts" style="margin-right: 0px">

                <div class="excerpt" style="width: 45%; float:left; margin-right: 22px"> 
                    <img src="{% static "img/directions/metricLearning.bmp" %}" alt="img"/>
                    <h5>Metric Learning</h5><br>
                    <p style="text-align:justify">Metric Learning: Learn a distance metric for the input space of data from a given collection points that preserves the relation among the labeled training pairs. </p>
                </div>

                <div class="excerpt" style="width: 45%; float:left; margin-right: 22px">
                    <img src="{% static "img/directions/deepLearning.bmp" %}" alt="img"/>  
                    <h5>Deep Learning</h5><br>
                    <p style="text-align:justify">CNN: A deep neural network with convolutional and pooling operations, which can be used to extract visual features hierarchically, from local lowlevel features to global high-level.</p>
                </div>
                <!-- <a href="{% url 'research' %}" class="news-link-button">more>></a> -->
            </div>
            <!-- ENDS left -->
            <!-- right -->
            <div class="right-home-block home-news">
                <div class="excerpt" style="width: 45%; float:left; margin-right: 22px">
                    <img src="{% static "img/directions/argumentation.png" %}" alt="img"/>
                    <h5>Argumentation</h5><br>    
                    <p style="text-align:justify">Argumentation： It is about persuade other people to do something, and give convincing reasons about why they should do that.</p>
                </div>

                <div class="excerpt" style="width: 45%; float:left; margin-right: 22px">
                    <img src="{% static "img/directions/reinforceLearning.png" %}" alt="img"/>
                    <h5>Reinforcement Learning</h5><br>    
                    <p style="text-align:justify">Reinforcement Learning：It is inspired by the simple idea of giving rewards if something is done well, and giving punishments if something is done bad.</p>
                </div>
            </div>
            <!-- ENDS right -->

        </div>

        <!-- end blocks -->


        <!-- additional blocks -->
        <div class="home-add clearfix">
        	<h3 style="margin:0px 0px 36px 20px; color:#FD7343">Big Data on Social Media Mining and Analytics</h3>
            <!-- left -->
            <div class="left-home-block home-posts" style="margin-right: 0px">

                <div class="excerpt" style="width: 45%; float:left; margin-right: 22px"> 
                    <img src="{% static "img/directions/socialAnalysis.png" %}" alt="img"/>
                    <h5>Social Tie Analysis</h5><br>
                    <p style="text-align:justify">Interpersonal ties are responsible for the structure of social networks and the transmission of information through these networks. Different types of social ties have essentially different influence on people. Awareness fo the types of social ties can benefit many applictions such as recommendation and community detection.</p>
                </div>

                <div class="excerpt" style="width: 45%; float:left; margin-right: 22px">
                    <img src="{% static "img/directions/recommendation.png" %}" alt="img"/>  
                    <h5>Recommendation</h5><br>
                    <p style="text-align:justify">Interpersonal ties are responsible for the structure of social networks and the transmission of information through these networks. Different types of social ties have essentially different influence on people. Awareness fo the types of social ties can benefit many applictions such as recommendation and community detection.</p>
                </div>
                <!-- <a href="{% url 'research' %}" class="news-link-button">more>></a> -->
            </div>
            <!-- ENDS left
            <!-- right -->
            <div class="right-home-block home-news">
                <div class="excerpt" style="width: 45%; float:left; margin-right: 22px">
                    <img src="{% static "img/directions/sentimentAnalysis.png" %}" alt="img"/>
                    <h5>User-level Sentiment Analysis</h5><br>    
                    <p style="text-align:justify">The information about social relationships can be used to improve user-level sentiment analysis. The main motivation behind our approach is that users that are somehow "connected" may be more likely to hold similar opinions; therefor, relationship informations can complement what we can extract about a user's viewpoints from their utterances.</p>
                </div>

                <div class="excerpt" style="width: 45%; float:left; margin-right: 22px">
                    <img src="{% static "img/directions/informationFlow.png" %}" alt="img"/>
                    <h5>Information Flow Detection</h5><br>    
                    <p style="text-align:justify">The real-time information on news sites, blogs and social networking sites changes dynamically and spreads rapidly through the Web. Developing methods for handling such information at a massive scale requires that we think about how information content varies over time, how it is transmitted, and how it mutates as it spreads.</p>
                </div>
            </div>
            <!-- ENDS right -->

        </div>
        <!-- ENDS additional blocks -->

        <!-- third blocks -->

         <div class="home-add clearfix">
            <h3 style="margin:0px 0px 36px 20px; color:#FD7343">Big Data on Scientific and Information Visualization</h3>
            <!-- left -->
            <div class="left-home-block home-posts" style="margin-right: 0px">

                <div class="excerpt" style="width: 45%; float:left; margin-right: 22px"> 
                    <img src="{% static "img/directions/textVisual.png" %}" alt="img"/>
                    <h5>Unstructured Text Visualization</h5><br>
                    <p style="text-align:justify">Text data is used as primary information artifact in current human society. The availability of text data has grown tremendously in recent years due to networking infrastructure. How to effective extract and represent the semantic information among text data via the suitable visual representation is critical to help users in understanding and gathering information from text.</p>
                </div>

                <div class="excerpt" style="width: 45%; float:left; margin-right: 22px">
                    <img src="{% static "img/directions/infoVisual.png" %}" alt="img"/>  
                    <h5>Resume Information Visualization</h5><br>
                    <p style="text-align:justify">Resume data as a special text data contains valuable semantic information regarding spatial-temporal development trajectory of person’s grades. In addition, the latent social relations between different person can be revealed by mining resume data. Extract & visualizing such semantic information and constructing the social network behind resume data can benefit many applications such as appoint-and-dismiss decision supporting and social mining.</p>
                </div>
                <!-- <a href="{% url 'research' %}" class="news-link-button">more>></a> -->
            </div>
            <!-- ENDS left -->
            <!-- right -->
            <div class="right-home-block home-news">
                <div class="excerpt" style="width: 45%; float:left; margin-right: 22px">
                    <img src="{% static "img/directions/eventVisual.png" %}" alt="img"/>
                    <h5>Event Detection and Visualization</h5><br>    
                    <p style="text-align:justify">It is increasingly difficult for users to hold the full picture of massive events in a comprehensive perspective when facing large-scale online streams. In addition, how to support human on perceiving the important rare events, which may trigger the subsequent emergency events, remains to be a big challenge. We present a framework to detect, visualize and perceive the multi-grained events, which gives users a full picture of relevant events and supports high-quality decision making accordingly.</p>
                </div>

                <div class="excerpt" style="width: 45%; float:left; margin-right: 22px">
                    <img src="{% static "img/directions/dataVisual.png" %}" alt="img"/>
                    <h5>Structured Data Visualization</h5><br>    
                    <p style="text-align:justify">Structured data such as scalar field data can be visualized as a contour map to indicate the latent physical structure and trend behind data itself. Human can gain valuable insights from such contour map accordingly. However, dealing with increasing amount of data attributes or dimensions arises a challenge: how to visualize the data with multi-dimensions in a cohesive view and explore the relations between the data on various dimensions. To address this challenge, we stand on the perspective of multi-variable data fusion and propose a overlap-based contouring method.</p>
                </div>
            </div>
            <!-- ENDS right -->

        </div>
        <!-- end third blocks -->

        <!-- Fold image -->
        <div id="fold"></div>
    </div>

</div>
<!-- ENDS MAIN -->


<footer>

    <div class="wrapper clearfix">

        <!-- widgets -->
        <ul class="widget-cols clearfix">
            <li class="first-col">

                <div class="widget-block">
                    <h4>Links</h4>

                    <div class="recent-post clearfix">
                        <a href="http://www.cas.cn/" class="thumb"><img src="{% static "img/logo2.jpg" %}" alt="link"/></a>

                        <div class="post-head">
                            <a href="http://www.cas.cn/"> Chinese Academy of Sciences</a>
                            <!-- <span> March 12, 2011</span> -->
                        </div>
                    </div>
                    <div class="recent-post clearfix">
                        <a href="http://www.iscas.ac.cn/" class="thumb"><img src="{% static "img/logo3.gif" %}"
                                                                             alt="link"/></a>

                        <div class="post-head">
                            <a href="http://www.iscas.ac.cn/">Institute of Software, Chinese Academy of Sciences</a>
                            <!-- <span> March 12, 2011</span> -->
                        </div>
                    </div>
                    <div class="recent-post clearfix">
                        <a href="http://pminer.iscas.ac.cn/bbs/forum.php" class="thumb"><img
                                src="{% static "img/dummies/54x54.gif" %}" alt="link"/></a>

                        <div class="post-head">
                            <a href="http://pminer.iscas.ac.cn/bbs/forum.php">pminer forum</a>
                        </div>
                    </div>
                </div>
            </li>

            <li class="second-col">

                <div class="widget-block">
                    <h4>Contact Us</h4>
                    <ul class="address-block">
                        <li class="address">Haidian district of Beijing zhongguancun south road no. 4</li>
                        <li> postcode: 10010</li>
                        <li class="phone">+123 456 789</li>
                        <li class="mobile">+123 456 789</li>
                        <li class="email"><a href="mailto:email@server.com">email@server.com</a></li>
                    </ul>
                </div>

            </li>

            <li class="third-col">

                <div class="widget-block">
                    <div class="footer-col">
                        <a href="#"><img src="{% static "img/mono-icons/weibo.png" %}" alt="link"/></a>
                        <a href="#"><img src="{% static "img/mono-icons/weixin.png" %}" alt="link"/></a>
                    </div>
                </div>

            </li>

        </ul>
        <!-- ENDS widgets -->


        <!-- bottom -->
        <div class="footer-bottom">
            <div class="left">Big Data Intelligence Group <a href="{% url 'index_e' %}" target="_blank" title="ghg">HomePage</a><br>
                Total Visits: <a href="#" target="_blank" title="admin">Admin Page</a>
            </div>
        </div>
        <!-- ENDS bottom -->

    </div>
</footer>


</body>

</html>