<!doctype html>
<html class="no-js" lang="en">

	<head>
		<meta charset="utf-8"/>
		<title>Big Data Intelligence Group</title>
		
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
        {% load staticfiles %}
		<link rel="stylesheet" media="all" href="{% static 'css/style.css' %}"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<!-- Adding "maximum-scale=1" fixes the Mobile Safari auto-zoom bug: http://filamentgroup.com/examples/iosScaleBug/ -->
		
		
		<!-- JS -->
		<script src="{% static 'js/jquery-1.6.4.min.js' %}"></script>
		<script src="{% static 'js/css3-mediaqueries.js' %}"></script>
		<script src="{% static 'js/custom.js' %}"></script>
		<script src="{% static 'js/tabs.js' %}"></script>
		
		<!-- Tweet -->
		<link rel="stylesheet" href="{% static 'css/jquery.tweet.css' %}" media="all"  />
		<script src="{% static 'js/tweet/jquery.tweet.js' %}" ></script>
		<!-- ENDS Tweet -->
		
		<!-- superfish -->
		<link rel="stylesheet" media="screen" href="{% static 'css/superfish.css' %}" />
		<script  src="{% static 'js/superfish-1.4.8/js/hoverIntent.js' %}"></script>
		<script  src="{% static 'js/superfish-1.4.8/js/superfish.js' %}"></script>
		<script  src="{% static 'js/superfish-1.4.8/js/supersubs.js' %}"></script>
		<!-- ENDS superfish -->
		
		<!-- prettyPhoto -->
		<script  src="{% static 'js/prettyPhoto/js/jquery.prettyPhoto.js' %}"></script>
		<link rel="stylesheet" href="{% static 'js/prettyPhoto/css/prettyPhoto.css' %}"  media="screen" />
		<!-- ENDS prettyPhoto -->
		
		<!-- poshytip -->
		<link rel="stylesheet" href="{% static 'js/poshytip-1.1/src/tip-twitter/tip-twitter.css' %}"  />
		<link rel="stylesheet" href="{% static 'js/poshytip-1.1/src/tip-yellowsimple/tip-yellowsimple.css' %}"  />
		<script  src="{% static 'js/poshytip-1.1/src/jquery.poshytip.min.js' %}"></script>
		<!-- ENDS poshytip -->
		
		<!-- GOOGLE FONTS -->
		
		
		<!-- Flex Slider -->
		<link rel="stylesheet" href="{% static 'css/flexslider.css' %}" >
		<script src="{% static 'js/jquery.flexslider-min.js' %}"></script>
		<!-- ENDS Flex Slider -->
		
		<!-- Masonry -->
		<script src="{% static 'js/masonry.min.js' %}" ></script>
		<script src="{% static 'js/imagesloaded.js' %}" ></script>
		<!-- ENDS Masonry -->
		
		<!-- Less framework -->
		<link rel="stylesheet" media="all" href="{% static 'css/lessframework.css' %}"/>
		
		<!-- modernizr -->
		<script src="{% static 'js/modernizr.js' %}"></script>
		
		<!-- SKIN -->
		<link rel="stylesheet" media="all" href="{% static 'css/skin.css' %}"/>
		

	</head>
	
	<!-- <body lang="en"> -->
	<body>
		<header>
			<div class="wrapper clearfix">
				<div>
					<a href="{% url 'index' %}" class="logo">
                        {% load staticfiles %}
                        <img src = "{% static "img/logo1.gif" %}" alt="logo"/>
					</a>
					<p class="logo" style="font-size: 26px; margin: 25px 0px 0px 20px;">
						<strong>Big Data Intelligence Group</strong>
					</p>
					<a href="{% url 'index' %}" class="version">中文版</a>	
				</div>
				<nav>
					<ul id="nav" class="sf-menu">
						<li class="current-menu-item"><a href="{% url 'index' %}">Home Page</a></li>
						<li><a href="{% url 'news' %}">News</a>
						</li>
						<li><a href="{% url 'team' %}">People</a></li>
						<li><a href="{% url 'research' %}">Research</a>
						</li>
						<li><a href="{% url 'academic' %}">Academic Exchange</a>
						</li>
						<li><a href="{% url 'relax' 1 %}">Entertainment</a></li>
						<li><a href="{% url 'join' %}">Join Us</a>
						</li>
						<li><a href="{% url 'about' %}">About</a></li>
					</ul>
					<div id="combo-holder"></div>
				</nav>			
				
				<div class="clearfix"></div>

				
				
			</div>
		</header>
        
		<!-- MAIN -->
		<div id="main">	
			<div class="wrapper clearfix">
				
				
        		<!-- home-block -->
	        	<div class="home-block clearfix" >
	        		<!-- <h1 class="home-headline">FEATURED WORK </h1> -->

	        		<!-- slider holder -->
					<div id="slider-holder" class="clearfix">
						<!-- Headline -->
		        		<div id="headline">
		        			<h3>Information</h3>
                            {% if lab_intro %}
		        			<pre class="headline-text">{{ lab_intro |truncatechars:300 }}</pre>
		        			<a href="{% url 'about' %}" class="theme-link-button">more info>>></a>
                            {% endif %}
		        	    </div>
		        		<!-- ENDS headline	 -->

						<!-- slider -->
				        <div class="flexslider home-slider">
						  <ul class="slides">
						    <li>
                                {% load staticfiles %}
                                <img src = "{% static "img/slides/1.jpg" %}" alt="slide1"/>
						        <p class="flex-caption">香山一日游~</p>
						    </li>
						    <li>
						      <img src = "{% static "img/slides/2.jpg" %}" alt="slide2"/>
						      <p class="flex-caption">每晚九点是实验室的小伙伴们打球健身的时间，很健康有没有！</p>
						    </li>
						    <li>
						     <img src = "{% static "img/slides/3.jpg" %}" alt="slide3"/>
						      <p class="flex-caption">过节的时候还有聚餐，咩哈哈</p>
						    </li>
						  </ul>
						</div>
			        	<!-- ENDS slider -->
			       	
			        	<div class="home-slider-clearfix "></div>
			        
					</div>
					<!-- ENDS slider holder -->
	        		
	        	</div>
	        	<!-- ENDS home-block
	        	
	        	
	        	<!-- additional blocks -->
	        	<div class="home-add clearfix">
	        		
	        		<!-- left -->
	        		<div class="left-home-block home-posts">
	        			<h3 class="heading">Notice</h3>
	        			{% if notices_list %}
                        {% for notice in notices_list %}
                            <article class="format-standard">
                                <div class="entry-date"><div class="number">{{ notice.time_stamp.day }}</div>
                                    {% for key,value in Month.items%}
                                        {% if key == notice.time_stamp.month %}
                                            <div class="month">{{ value }}</div>
                                        {% endif %}
                                    {% endfor %}
                                    <div class="year">{{ notice.time_stamp.year }}</div><em></em></div>
                                <div  class="post-heading">
                                    <h4><a href="notice/{{ notice.id }}">{{ notice.title }} </a></h4>
                                </div>
                                <div class="excerpt">{{ notice.content|truncatechars:50}}
                                </div>
                            </article>
						{% endfor %}
                        {% endif %}

						<a href="{% url 'news' %}" class="news-link-button">more>></a>
						
	        		</div>
	        		<!-- ENDS left -->
	        		<!-- right -->
	        		<div class="right-home-block home-news">
	        			<h3 class="heading">News</h3>
	        			{% if news_list %}
                        {% for news in news_list %}
                            <article class="format-standard">
                                <div class="entry-date"><div class="number">{{ news.time_stamp.day }}</div>
                                    {% for key,value in Month.items%}
                                        {% if key == news.time_stamp.month %}
                                            <div class="month">{{ value }}</div>
                                        {% endif %}
                                    {% endfor %}
                                    <div class="year">{{ news.time_stamp.year }}</div><em></em></div>
                                <div  class="post-heading">
                                    <h4><a href="news/{{ news.id }}">{{ news.title }} </a></h4>
                                </div>
                                <div class="excerpt">{{ news.content|truncatechars:50}}
                                </div>
                            </article>
						{% endfor %}
                        {% endif %}

						<a href="{% url 'news' %}" class="news-link-button">more>></a>
						
	        		</div>
	        		<!-- ENDS right -->
	        		
	        	</div>
        		<!-- ENDS additional blocks -->

        		<!-- third blocks -->
        		<div class="home-add clearfix">
        			<!-- left -->
	        		<div class="left-home-block home-posts">
	        			<h3 class="heading2">Conference</h3>
	        				{% for meeting in meetings_list %}
	        				{% if meeting %}
	        				<div  class="post-heading">
	        					{% load staticfiles %}
                                <img src = "{% static "img/mono-icons/linedpaperpencil28.png" %}" alt="flag"/>
								<a href="{{ meeting.link }}">{{ meeting.title }} </a>
							</div>
							<div class="excerpt">{{ meeting.content |truncatechars:50 }}</div>
							{% endif %}
							{% endfor %}
	        		</div>
	        		<!-- ENDS left -->
	        		<!-- right -->
	        		<div class="right-home-block">
	        			<h3 class="heading2">Join Us</h3>
                        {% for join1 in join1_list %}
                        {% if join1 %}
	        				<div class="text"><img src = "{% static "img/mono-icons/flag.png" %}" alt="flag"/><a href="#" >{{ join1.title }}</a></div>
                        {% endif %}
                        {% endfor %}

                        {% for join2 in join2_list %}
                        {% if join2 %}
	        				<div class="text"><img src = "{% static "img/mono-icons/flag.png" %}" alt="flag"/><a href="#" >{{ join2.title }}</a></div>
                        {% endif %}
                        {% endfor %}
	        		</div>
	        		<!-- ENDS right -->
        		</div>
        		<!-- end third blocks -->

			<!-- Fold image -->
			<div id="fold"></div>
			</div>
			
		</div>
		<!-- ENDS MAIN -->
		
		
		<footer>	
			
			<div class="wrapper clearfix">
				
				<!-- widgets -->
				<ul  class="widget-cols clearfix">
					<li class="first-col">
						
						<div class="widget-block">
							<h4>Links</h4>
							<div class="recent-post clearfix">
								<a href="http://www.cas.cn/" class="thumb"><img src = "{% static "img/logo2.jpg" %}" alt="link"/></a>
								<div class="post-head">
									<a href="http://www.cas.cn/"> Chinese Academy of Sciences</a>
										<!-- <span> March 12, 2011</span> -->
								</div>
							</div>
							<div class="recent-post clearfix">
								<a href="http://www.iscas.ac.cn/" class="thumb"><img src = "{% static "img/logo3.gif" %}" alt="link"/></a>
								<div class="post-head">
									<a href="http://www.iscas.ac.cn/">Institute of Software, Chinese Academy of Sciences</a>
									<!-- <span> March 12, 2011</span> -->
								</div>
							</div>
							<div class="recent-post clearfix">
								<a href="http://pminer.iscas.ac.cn/bbs/forum.php" class="thumb"><img src = "{% static "img/dummies/54x54.gif" %}" alt="link"/></a>
								<div class="post-head">
									<a href="http://pminer.iscas.ac.cn/bbs/forum.php">pminer forum</a>
								</div>
							</div>
						</div>
					</li>
					
					<li class="second-col">
						
						<div class="widget-block">
							<h4>Contact Us</h4>
							<ul class="address-block">
			        			<li class="address">Haidian district of Beijing zhongguancun south road no. 4</li>
			        			<li>    postcode: 10010</li>
			        			<li class="phone">+123 456 789</li>
			        			<li class="mobile">+123 456 789</li>
			        			<li class="email"><a href="mailto:email@server.com">email@server.com</a></li>
		        			</ul>
						</div>
						
					</li>
					
					<li class="third-col">
						
						<div class="widget-block">
							<div class="footer-col">
		         				<a href="#"><img src = "{% static "img/mono-icons/weibo.png" %}" alt="link"/></a>
		         				<a href="#"><img src = "{% static "img/mono-icons/weixin.png" %}" alt="link"/></a>
		         			</div>
		         		</div>
		         		
					</li>
					
				</ul>
				<!-- ENDS widgets -->	
				
				
				<!-- bottom -->
				<div class="footer-bottom">
					<div class="left">Big Data Intelligence Group <a href="{%url 'index'%}" target="_blank" title="实验室主页">HomePage</a><br>
						Total Visits：&nbsp&nbsp <a href="#" target="_blank" title="admin">Admin Page</a>
					</div>
				</div>	
				<!-- ENDS bottom -->		

			</div>
		</footer>
		
			
	</body>
	
</html>